<h1 style="color:cadetblue; font-size:2em;">1. DataFrame from numpy 2d array</h1>

In [2]:
import numpy as np
import pandas as pd

In [3]:
my_array = np.array([[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]])
df = pd.DataFrame(my_array)
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [4]:
df.columns = ['col-1', 'col-2', 'col-3', 'col-4']
df.index = ['row_1', 'row_2', 'row_3']
df

       col-1  col-2  col-3  col-4
row_1      0      1      2      3
row_2      4      5      6      7
row_3      8      9     10     11

In [5]:
df2 = pd.DataFrame(
    my_array,
    columns=['col-1', 'col-2', 'col-3', 'col-4'],
    index=['row_1', 'row_2', 'row_3'])
df2

       col-1  col-2  col-3  col-4
row_1      0      1      2      3
row_2      4      5      6      7
row_3      8      9     10     11

<h1 style="color:cadetblue; font-size:2em;">2.1 DataFrame from dict</h1>

In [24]:
dict1 = {'col-1':[0, 4, 8],
         'col-2':[1, 5, 9],
         'col-3':[2, 6, 10],
         'col-4':[3, 7, 11]
        }
dict1_df = pd.DataFrame(dict1)
dict1_df

   col-1  col-2  col-3  col-4
0      0      1      2      3
1      4      5      6      7
2      8      9     10     11

<h1 style="color:cadetblue; font-size:2em;">2.2 DataFrame from dict</h1>

In [25]:
list1 = [0, 4, 8]
list2= [1, 5, 9]
list3= [2, 6, 10]
list4= [3, 7, 11]
list_col_labels = ['col-1', 'col-2', 'col-3', 'col-4']
list_cols = [list1, list2, list3, list4]
zipped = list(zip(list_col_labels, list_cols))
dict2 = dict(zipped)
dict2_df = pd.DataFrame(dict2)
dict2_df

   col-1  col-2  col-3  col-4
0      0      1      2      3
1      4      5      6      7
2      8      9     10     11

In [26]:
dict2_df['col-5'] = 55
dict2_df

   col-1  col-2  col-3  col-4  col-5
0      0      1      2      3     55
1      4      5      6      7     55
2      8      9     10     11     55