<h2 style="color:cadetblue; font-size:2em;">1. df [...]</h2>

In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "datasets/file with header.csv"
indexes = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7']
df = pd.read_csv(file)
df.index = indexes

In [39]:
df

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [38]:
df['row_4']

KeyError: 'row_4'

In [45]:
df[3]

KeyError: 3

In [48]:
df[2:5]

       Col-1  Col-2  Col-3  Col-4  Col-5
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555

In [51]:
df[2,5]

KeyError: (2, 5)

In [58]:
df['Col-3']

row_1    111
row_2    222
row_3    333
row_4    444
row_5    555
row_6    666
row_7    777
Name: Col-3, dtype: int64

In [59]:
df[['Col-3']]

       Col-3
row_1    111
row_2    222
row_3    333
row_4    444
row_5    555
row_6    666
row_7    777

In [60]:
df['Col-3':'Col-5']

Empty DataFrame
Columns: [Col-1, Col-2, Col-3, Col-4, Col-5]
Index: []

In [63]:
df['row_4','Col-3':'Col-5']

TypeError: unhashable type: 'slice'

In [54]:
df['Col-3','Col-5']

KeyError: ('Col-3', 'Col-5')

In [76]:
df[['Col-3','Col-5']]

       Col-3  Col-5
row_1    111  11111
row_2    222  22222
row_3    333  33333
row_4    444  44444
row_5    555  55555
row_6    666  66666
row_7    777  77777

<div style="font:Calibri; border: 2px dashed darkblue; padding:4px;">
     <strong>Summary:</strong> 
     <ol style="">
        <li>if we write numbers inside the bracets 'df[number]', numbers represents rows indexes but we can not write column labels together.</li>
        <li>If we write one column label inside the bracets this returns that column as pandas.Series</li>
        <li>if we use : operator with column label we got nothing.</li>
        <li>if we use double bracets [[ ]] this returns pandas.DataFrame and we can select more than one column with ',' but we can not use ':' operator.</li>
    </ol>
</div>

<h2 style="color:cadetblue; font-size:2em;">2. .loc[ row_label, column_label ]</h2>

In [3]:
df

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [4]:
df.loc['Col-2']

KeyError: 'the label [Col-2] is not in the [index]'

In [8]:
df.loc[:,['Col-2','Col-5']]

       Col-2  Col-5
row_1     11  11111
row_2     22  22222
row_3     33  33333
row_4     44  44444
row_5     55  55555
row_6     66  66666
row_7     77  77777

In [16]:
df.loc['row_1']

Col-1        1
Col-2       11
Col-3      111
Col-4     1111
Col-5    11111
Name: row_1, dtype: int64

In [17]:
type(df.loc['row_1'])

pandas.core.series.Series

In [18]:
df.loc['row_1':'row_3']

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333

In [19]:
type(df.loc['row_1':'row_3'])

pandas.core.frame.DataFrame

In [20]:
df.loc['row_1', 'Col-3']

111

In [21]:
df.loc['row_1', 'Col-2':'Col-3']

Col-2     11
Col-3    111
Name: row_1, dtype: int64

In [23]:
df.loc['row_1':'row_2', 'Col-2':'Col-3']

       Col-2  Col-3
row_1     11    111
row_2     22    222

In [24]:
df.loc[['row_1','row_3'], 'Col-2']

row_1    11
row_3    33
Name: Col-2, dtype: int64

In [26]:
df.loc[['row_1','row_3'], ['Col-1','Col-3']]

       Col-1  Col-3
row_1      1    111
row_3      3    333

In [27]:
df.loc['row_3':, 'Col-3':]

       Col-3  Col-4  Col-5
row_3    333   3333  33333
row_4    444   4444  44444
row_5    555   5555  55555
row_6    666   6666  66666
row_7    777   7777  77777

In [28]:
df

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [30]:
df.loc[df['Col-2']>50, ['Col-1','Col-4']]

       Col-1  Col-4
row_5      5   5555
row_6      6   6666
row_7      7   7777

In [31]:
df.loc[lambda h: df['Col-3']>400,:]

       Col-1  Col-2  Col-3  Col-4  Col-5
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [35]:
df.loc['row_3':'row_5', lambda h: df.loc['row_2']%11 == 0]

       Col-2  Col-4
row_3     33   3333
row_4     44   4444
row_5     55   5555

<div>
    <p>
        <strong>Note:</strong><br>
        As you noticed, when using ':' operator both sides (left and right side of ':') are included.<br>
        It's different from the python selecting general rules.
    </p>
</div>

<h2 style="color:cadetblue; font-size:2em;">3. .iloc[ row_index, column_index ]</h2>

In [81]:
df

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [82]:
df.iloc[0]

Col-1        1
Col-2       11
Col-3      111
Col-4     1111
Col-5    11111
Name: row_1, dtype: int64

In [83]:
df.iloc[0,2]

111

In [84]:
df.iloc[0:2, 2:3]

       Col-3
row_1    111
row_2    222

In [85]:
df.iloc[0:2]

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222

In [86]:
df.iloc[[0,2], 1:3]

       Col-2  Col-3
row_1     11    111
row_3     33    333

In [87]:
df.iloc[::-1]

       Col-1  Col-2  Col-3  Col-4  Col-5
row_7      7     77    777   7777  77777
row_6      6     66    666   6666  66666
row_5      5     55    555   5555  55555
row_4      4     44    444   4444  44444
row_3      3     33    333   3333  33333
row_2      2     22    222   2222  22222
row_1      1     11    111   1111  11111

In [88]:
df.iloc[::-1,::-1]

       Col-5  Col-4  Col-3  Col-2  Col-1
row_7  77777   7777    777     77      7
row_6  66666   6666    666     66      6
row_5  55555   5555    555     55      5
row_4  44444   4444    444     44      4
row_3  33333   3333    333     33      3
row_2  22222   2222    222     22      2
row_1  11111   1111    111     11      1

In [89]:
df.iloc[::2, -1]

row_1    11111
row_3    33333
row_5    55555
row_7    77777
Name: Col-5, dtype: int64

In [90]:
df.iloc[::3, ::-2]

       Col-5  Col-3  Col-1
row_1  11111    111      1
row_4  44444    444      4
row_7  77777    777      7

<div>
    <p>
        <strong>Note:</strong><br>
        When using ':' operator left side is included right side is excluded.
    </p>
</div>

<h2 style="color:cadetblue; font-size:2em;">4. .head( row_count ) and .tail( row_count ) methods</h2>

In [91]:
df

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [92]:
df.head()

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555

In [101]:
df.head(3)

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333

In [102]:
df.head(6)

       Col-1  Col-2  Col-3  Col-4  Col-5
row_1      1     11    111   1111  11111
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666

In [99]:
df.tail()

       Col-1  Col-2  Col-3  Col-4  Col-5
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [103]:
df.tail(3)

       Col-1  Col-2  Col-3  Col-4  Col-5
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

In [104]:
df.tail(6)

       Col-1  Col-2  Col-3  Col-4  Col-5
row_2      2     22    222   2222  22222
row_3      3     33    333   3333  33333
row_4      4     44    444   4444  44444
row_5      5     55    555   5555  55555
row_6      6     66    666   6666  66666
row_7      7     77    777   7777  77777

<div>
    <p>
        <strong>Note:</strong><br>
        head( ) and tail( ) methods default values are 5.
    </p>
</div>