<h2 style="color:cadetblue; font-size:2em;">1. .info() </h2>

In [1]:
import pandas as pd
import numpy as np

In [16]:
file = "datasets/file.csv"
indexes = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7']
df = pd.read_csv(file)
df.index = indexes

In [17]:
df

       col_1  col_2  col_3  col_4  col_5
row_1      1      8     15     14      7
row_2      2      9     16     13      6
row_3      3     10     17     12      5
row_4      4     11     18     11      4
row_5      5     12     17     10      3
row_6      6     13     16      9      2
row_7      7     14     15      8      1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, row_1 to row_7
Data columns (total 5 columns):
col_1    7 non-null int64
col_2    7 non-null int64
col_3    7 non-null int64
col_4    7 non-null int64
col_5    7 non-null int64
dtypes: int64(5)
memory usage: 336.0+ bytes

<h2 style="color:cadetblue; font-size:2em;">2. .describe() </h2>

In [19]:
df

       col_1  col_2  col_3  col_4  col_5
row_1      1      8     15     14      7
row_2      2      9     16     13      6
row_3      3     10     17     12      5
row_4      4     11     18     11      4
row_5      5     12     17     10      3
row_6      6     13     16      9      2
row_7      7     14     15      8      1

In [20]:
df.describe()

          col_1      col_2      col_3      col_4     col_5
count  7.000000   7.000000   7.000000   7.000000  7.000000
mean   4.000000  11.000000  16.285714  11.000000  4.000000
std    2.160247   2.160247   1.112697   2.160247  2.160247
min    1.000000   8.000000  15.000000   8.000000  1.000000
25%    2.500000   9.500000  15.500000   9.500000  2.500000
50%    4.000000  11.000000  16.000000  11.000000  4.000000
75%    5.500000  12.500000  17.000000  12.500000  5.500000
max    7.000000  14.000000  18.000000  14.000000  7.000000